#common
protobuf==3.19.5
regex==2020.10.28
pandas==1.4.1

# Below pkgs are required for pytorch-fork
cffi==1.14.6
typing-extensions>=4.0.0
numpy==1.22.3
setuptools==58.2.0
ninja==1.10.2
pyyaml==5.4.1
mkl==2022.0.2
mkl-include==2022.0.2
pybind11==2.6.2

#pytorch lightining with habana support
pytorch-lightning==1.7.7